/*Fonts */
/*section > .row {
    margin: 40px 0;
}*/
.fixed-width {
  width: 992px;
  margin: 0 auto;
}

.aboutus > .row-years {
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-direction: column;
      flex-direction: column;
}

.move-up {
  transition: .5s;
}

.move-up:hover {
  transform: translateY(-5px);
}

.mb-7 {
  margin-bottom: 6rem;
}

.mr-6 {
  margin-right: 5rem !important;
}

.m-left-50 {
  margin-left: 50px;
}

/***** Sections *****/
/* Header section */
.header {
  background-image: url(/images/header_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 742px;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
}

.nav-item {
  padding: 0 10px;
}

.nav-item:last-child {
  padding: 0 0 0 10px;
}

.nav-item a {
  text-transform: uppercase;
  color: white;
  font-weight: 400;
  font-size: 14px;
  transition: .5s;
}

.nav-item a:hover {
  color: #fed136;
}

.welcome {
  color: white;
  margin-top: 15%;
}

.welcome h1 {
  text-transform: uppercase;
  font-size: 70px;
  font-weight: 700;
  letter-spacing: -1.8px;
}

.welcome h2 {
  font-style: italic;
  text-transform: capitalize;
  margin-bottom: 40px;
  letter-spacing: -1px;
}

/* Services section */
.service-title, .portfolio-title, .aboutus-title, .team-title, .aboutus-subtitle {
  color: #222;
  font-weight: 700;
  letter-spacing: -0.45px;
  font-size: 18px;
}

.service-subtitle, .portfolio-subtitle, .layer-team .team-subtitle, .team-summary, .aboutus-text {
  color: #777;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 400;
  letter-spacing: -0.35px;
  font-size: 14px;
  text-align: justify;
}

/* Portfolio section */
.portfolio {
  background-color: #f7f7f7;
}

.portfolio img {
  max-width: 100%;
  padding-bottom: 25%;
  background-color: #fff;
  transition: .5s;
}

.portfolio img:hover {
  background-color: #fed136;
}

.portfolio-box {
  position: relative;
}

.portfolio-box-title {
  position: absolute;
  top: 82%;
  width: 100%;
}

.portfolio-title, .aboutus-title, .team-title {
  margin-bottom: 0;
}

.portfolio-subtitle, .layer-team .team-subtitle, .team-summary {
  text-align: center;
}

/* About us section */
.circle-field {
  display: -ms-flexbox;
  display: flex;
}

.circle-field .circle {
  width: 180px;
  height: 181px;
  border-radius: 50%;
  border: 6px solid #f1f1f1;
  position: relative;
}

.circle-field .circle::after {
  content: "";
  display: block;
  width: 3px;
  height: 120px;
  background: #f1f1f1;
  position: absolute;
  bottom: -120px;
  left: 50%;
  transform: translateX(-50%);
}

.circle-field .circle img {
  width: 169px;
  height: 169px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.circle-field .circle-text {
  overflow-y: auto;
  max-height: 300px;
}

.aboutus-title {
  text-transform: uppercase;
}

.aboutus-subtitle {
  text-transform: capitalize;
}

/* Team section */
.team {
  background-color: #f9f9f9;
}

.team .btn-dark {
  color: #222;
  background-color: inherit;
  border: 3px solid #222;
}

.team .btn-dark:hover {
  color: #f9f9f9;
  background-color: #222;
}

.employee, .layer-team {
  width: 100%;
  height: 330px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  border: 2px solid #f1f1f1;
  cursor: pointer;
}

.layer-team {
  opacity: 0;
  border: none;
  position: relative;
  background-color: #000;
  transition: .7s ease-in-out;
}

.layer-team:hover {
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
}

.layer-team .team-subtitle {
  opacity: 0;
  font-size: 28px;
  color: #fff;
  line-height: 313px;
  transition: .7s ease-in-out;
}

.layer-team .team-subtitle:hover {
  opacity: 1;
}

.marketer {
  background-image: url(/images/team/marketer.jpg);
}

.coder {
  background-image: url(/images/team/coder.jpg);
}

.graphic {
  background-image: url(/images/team/graphic.jpg);
}

.team-title {
  text-align: center;
}

.team-summary {
  font-size: 16px;
  letter-spacing: -0.4px;
}

/* Contact us section */
.contactus {
  background-color: #222;
  background-image: url(/images/contactus_bg.png);
  background-repeat: no-repeat;
  background-position: 430% -550%;
  width: 100%;
}

.contactus .title h2 {
  color: #fff;
}

.contactus input, .contactus textarea {
  width: 90%;
}

.contactus input:-ms-input-placeholder, .contactus textarea:-ms-input-placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #bbb;
  font-weight: 700;
  letter-spacing: -0.35px;
  text-transform: uppercase;
}

.contactus input::placeholder, .contactus textarea::placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #bbb;
  font-weight: 700;
  letter-spacing: -0.35px;
  text-transform: uppercase;
}

.contactus textarea {
  height: 90%;
}

.contactus .btn-page {
  margin-top: 0;
}

/* footer */
footer p {
  line-height: 50px;
  font-size: 12px;
  font-weight: 500;
}

footer p a {
  color: #222;
}

footer p a:hover {
  text-decoration: none;
}

.btn-page {
  background-color: #fed136;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  margin-top: 5%;
  padding: 20px 40px;
}

.btn-page:hover {
  color: #222;
  background-color: #f7d05c;
}

.btn-rounded {
  background-color: none;
  border: 3px solid #fed136;
  border-radius: 100%;
}

.btn-rounded i {
  padding: 10px 5px;
  font-size: 35px;
  color: #fed136;
  font-weight: 500;
}

i {
  font-size: 26px;
}

.tweet {
  padding: 6px 9px;
}

.google {
  padding: 6px 5px;
}

.fa-facebook-f {
  padding: 0 3px;
}

body {
  font-family: "Montserrat", sans-serif;
}

.py-6 {
  padding-top: 6rem !important;
  padding-bottom: 6rem !important;
}

.white-bg {
  background-color: #fff;
}

.title h2 {
  color: #222;
  letter-spacing: -1px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 40px;
}

.title p {
  color: #777;
  font-family: "Roboto Slab", sans-serif;
  font-style: italic;
}
/*# sourceMappingURL=style.css.map */