
.fixed-width {
    width: 992px;
    margin: 0 auto;
}

.move-up { // move slightly up on hover
    transition: .5s;
    &:hover {
        transform: translateY(-5px);
    }
}
.py-6 { // spacing between sections
    padding-top: 6rem;
    padding-bottom: 6rem;
}
.mb-7 {
    margin-bottom: 6rem;
}
.mr-6 {
    margin-right: 5rem !important;
}
.m-left-50 {
    margin-left: 50px;
}
.only-on-mobile {
    display: none;
}