/***** Sections *****/

//header
.header {
    background-image: url(/images/header_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 742px;  
}