/*Fonts */
//family
$montserrat: 'Montserrat', sans-serif;
$roboto: 'Roboto Slab', sans-serif;


//colors
$primary: #222;
$secondary: #777;
$primary-portfolio: #333;
$secondary-portfolio: #737373;
$orange: #fed136;
$aboutus: #f1f1f1;