@import "variables";
@import "layout";
@import "sections";
@import "buttons";
@import "mq";
@import "mixins";


body {
    font-family: $montserrat;
}
.white-bg { //white background for various elements
    background-color: #fff;
}
.title { //titles for sections
    h2 {
        color: $primary;
        letter-spacing: -1px;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 40px;
    }
    p {
        color: $secondary;
        font-family: $roboto;
        font-style: italic;
    }
}
